.planform {
    width           : 30%;
    margin          : auto;
    background-color: rgba(241, 238, 238, 0.534);
    padding         : 20px;
    border-radius   : 5px;
    margin-top      : 5%;
}

mat-form-field {
    width: 100%;
}